/**
 * Define System UI Colors
 */
$desktop: 								#346DA1;
$text-color:							#000000;
$panel-bg:								#D5D2CD;
$border-outer-light:					#d7d4cf;
$border-inner-light:					#fff;
$border-outer-dark:						#403f40;
$border-inner-dark:						#858385;
$title-default-gradient-start:			#858385;
$title-default-gradient-end:			#c7c4c7;
$title-default-text-color:				#d7d4cf;
$title-active-gradient-start:			#011f6e;
$title-active-gradient-end:				#aaccfa;
$title-active-text-color:				#fff;
$os-identifier-gradient-start:			#a0a1f4;
$os-identifier-gradient-end:			#000;
$menu-highlight-color:					#021e6e;
$menu-highlight-text-color:				#fff;
$notification-bg:						#fcfeec;
$os-identifier-gradient-start:			#000000;
$os-identifier-gradient-end: 			#2017f8;
$os-identifier-text-color:				#fff;
$inactive-window-title-gradient-start:	#7f7f7f;
$inactive-window-title-gradient-end:	#d3cfc7;
$inactive-window-title-color:			#000;
$active-window-title-gradient-start:	#3a3c67;
$active-window-title-gradient-end:		#daeffe;
$active-window-title-color:				#fff;
$sysui-window-menubar-wrapper-border:	#858385;
$sysui-window-text-background:			#fff;
$sysui-form-field-outer-dark:			#818181;
$sysui-form-field-outer-light:			#d5d1c9;
$sysui-form-field-inner-dark:			#000;
$sysui-form-field-inner-light:			#ffffff;
