.sysui-search-window {
	display: flex;
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	min-height: 100%;
}

.sysui-search-window > *,
.sysui-search-window > * > * {
	display: block;
	min-height: 100%;
	height: 100%;
}

.sysui-search-left-panel {
	width: 175px;
	padding: 5px 5px 0 2px;
}

.sysui-search-left-panel-inner {
	display: block;
	width: 100%;
	height: 100%;
	border: solid 1px $sysui-form-field-outer-dark;
	border-bottom: none;
}

.sysui-search-left-panel-form {
	display: block;
	padding: 6px;
	background: $sysui-window-text-background;
	background-color: $sysui-window-text-background;
	height: calc( 100% - 28px );
}

.sysui-search-left-panel-title,
.sysui-search-left-panel-title:hover,
.sysui-search-left-panel-title:focus,
.sysui-search-left-panel-title:active {
	padding: 6px;
	font-size: 12px;
	line-height: 14px;
	border-top: solid 1px $sysui-form-field-inner-light;
	border-bottom: solid 1px $sysui-window-menubar-wrapper-border;
}

.sysui-search-right-panel {
	width: calc( 100% - 175px );
	height: 100%;
	overflow: auto;
	padding: 5px 0 0 0;
}

.sysui-search-right-panel-inner {
	width: 100%;
	height: 100%;
	border: solid 1px $sysui-form-field-outer-dark;
	border-bottom: none;
}

.sysui-search-window .sysui-window-list {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.sysui-search-left-panel-form label,
.sysui-search-left-panel-form label:hover,
.sysui-search-left-panel-form label:focus,
.sysui-search-left-panel-form label:active {
	font-size: 12px;
	line-height: 12px;
}

.sysui-search-left-panel-form .form-control,
.sysui-search-left-panel-form .form-control:hover,
.sysui-search-left-panel-form .form-control:focus,
.sysui-search-left-panel-form .form-control:active {
	font-size: 12px;
	line-height: 12px;
}

.sysui-search-left-panel-form button,
.sysui-search-left-panel-form button:hover,
.sysui-search-left-panel-form button:focus,
.sysui-search-left-panel-form button:active,
.sysui-search-left-panel-form button *,
.sysui-search-left-panel-form button *:hover,
.sysui-search-left-panel-form button *:focus,
.sysui-search-left-panel-form button *:active {
	line-height: 12px;
	font-size: 12px;
}