/**
 * Define Fonts
 */
@font-face {
  font-family: 'MSSansSerif';
  src: url('../fonts/MicrosoftSansSerif.woff') format('woff'),
  	   url('../fonts/MicrosoftSansSerif.woff2') format('woff2'),
       url('../fonts/micross.ttf')  format('truetype');
}

/**
 * Import Dependancies
 */
$font-family-sans-serif: 	"MSSansSerif", Arial, sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;

@import "../../node_modules/bootstrap/scss/bootstrap";

$font-family-sans-serif: 	"MSSansSerif", Arial, sans-serif !default;
$font-family-base:          $font-family-sans-serif !default;
/**
 * Define System UI Colors
 */
$desktop: 						#346DA1;
$text-color:					#000000;
$panel-bg:						#D5D2CD;
$border-outer-light:			#d7d4cf;
$border-inner-light:			#fff;
$border-outer-dark:				#403f40;
$border-inner-dark:				#858385;
$title-default-gradient-start:	#858385;
$title-default-gradient-end:	#c7c4c7;
$title-default-text-color:		#d7d4cf;
$title-active-gradient-start:	#011f6e;
$title-active-gradient-end:		#aaccfa;
$title-active-text-color:		#fff;
$os-identifier-gradient-start:	#a0a1f4;
$os-identifier-gradient-end:	#000;
$menu-highlight-color:			#021e6e;
$notification-bg:				#fcfeec;
$os-identifier-gradient-start:	#000000;
$os-identifier-gradient-end: 	#2017f8;
$os-identifier-text-color:		#fff;

/**
 * Start Inline Styles
 */
html,
body {
	min-height: 100vh;
	background: $desktop;
	background-color: $desktop;
	color: $text-color;
}

*,
*:active,
*:focus,
*:hover,
button:focus {
	color: $text-color;
	outline: none;
	outline-color: transparent;
	transition: border-color 100;
	line-height: 0;
}

body > header.sysui-panel-outer {
	border-left: none;
	border-right: none;
	border-bottom: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1080;
}

body > header.sysui-panel-outer > .sysui-panel-inner {
	border-left: none;
	border-right: none;
	border-bottom: none;
	padding: 2px;
}

.sysui-panel-outer,
.sysui-button-outer {
	background: $panel-bg;
	background-color: $panel-bg;
	border: solid 1px;
	border-top-color: $border-outer-light;
	border-left-color: $border-outer-light;
	border-bottom-color: $border-outer-dark;
	border-right-color: $border-outer-dark;
	padding: 0;
}

.sysui-button-outer {
	border-top-color: $border-inner-light;
	border-left-color: $border-inner-light;
}

.sysui-panel-inner,
.sysui-button-inner {
	border: solid 1px;
	border-top-color: $border-inner-light;
	border-left-color: $border-inner-light;
	border-bottom-color: $border-inner-dark;
	border-right-color: $border-inner-dark;
	display: block;
	padding: 0;
}

.sysui-button-inner {
	border-top-color: $border-outer-light;
	border-left-color: $border-outer-light;
	display: block;
	height: 100%;
}

.sysui-button-outer:focus,
.sysui-button-outer:active,
.sysui-button-outer.active {
	border-top-color: $border-outer-dark;
	border-left-color: $border-outer-dark;
	border-right-color: $border-inner-light;
	border-bottom-color: $border-inner-light;
}

.sysui-button-outer:focus > .sysui-button-inner,
.sysui-button-outer:active > .sysui-button-inner,
.sysui-button-outer.active > .sysui-button-inner {
	border-top-color: $border-inner-dark;
	border-left-color: $border-inner-dark;
	border-right-color: $border-outer-light;
	border-bottom-color: $border-outer-light;
}

.start-panel-seperator-wrapper {
	overflow: visible;
	width: 0px;
	border-left: solid 1px $border-inner-dark;
	border-right: solid 1px $border-inner-light;
	height: 22px;
	position: relative;
	margin-right: 5px;
	margin-left: 4px;
	display: inline-block;
	float: left;
}

.start-panel-seperator-wrapper > .start-panel-seperator-relic {
	width: 3px;
	background: $panel-bg;
	background-color: $panel-bg;
	border: solid 1px;
	border-top-color: $border-inner-light;
	border-left-color: $border-inner-light;
	border-bottom-color: $border-inner-dark;
	border-right-color: $border-inner-dark;
	height: 18px;
	position: relative;
	top: 2px;
	left: 2px;
	display: inline-block;
}

.sysui-quick-links,
.sysui-notifications-links {
	display: table;
}

.sysui-quick-links > a,
.sysui-notifications-links > a {
	display: table-cell;
	cursor: pointer;
}

.sysui-quick-links > a > span {
	display: inline-block;
	padding: 4px;
}

.sysui-notifications-links > a > span {
	display: inline-block;
	padding: 2px;
}

.sysui-quick-links > a > span > img,
.sysui-notifications-links > a > span > img {
	width: 16px;
	height: 16px;
}

.popover-header,
.popover-header:active,
.popover-header:focus,
.popover-header:hover,
.popover-body,
.popover-body:hover,
.popover-body:focus,
.popover-body:active {
	line-height: 16px;
}

.popover {
	padding: .5rem 0;
}

.popover,
.popover-header {
	background-color: $notification-bg;
	font-size: 12px;
}

.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
	border-top-color: $notification-bg;
}

.popover-header {
	border-bottom: none;
	font-weight: bold;
	padding: 0 .75rem;
}

.popover-body {
	padding: 0 .75rem;
}

#sysui-taskbar-outer {
	display: flex;
	flex-direction: row;
	flex-wrap: no-wrap;
	align-content: flex-start;
	width: 100%;
}

#sysui-taskbar-outer > * {
	display: block;
	vertical-align: top;
	white-space:nowrap;
	clear: both;
	width:auto;
}

#sysui-start {
	font-size: 10px;
	font-weight: 900;
	float: left;
}

#sysui-start > * {
	padding: 0 3px;
	text-align: center;
	display: table;
}

#sysui-start-icon,
#sysui-start-content {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	line-height: 7px;
}

#sysui-start-icon > a {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 2px 2px 2px 0;
}

#sysui-start-icon > a > img {
	display: flex;
	width: 14px;
	height: 14px;
}

#sysui-quick-launch-area {
	display: inline-block;
	clear: both;
	float: left;
}

#sysui-notifications {
	border: solid 1px;
	border-top-color: $border-inner-dark;
	border-left-color: $border-inner-dark;
	border-bottom-color: $border-inner-light;
	border-right-color: $border-inner-light;
	display: table;
	height: 22px;
	float: right;
}

#sysui-notifications > * {
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 4px;
}

#sysui-notifications-clock {
	font-size: 10px;
	position: relative;
	top: 2px;
	padding: 0 16px;
}

#sysui-taskbar-programs-wrapper {
	flex-grow: 1;
	padding: 0 5px;
}

#start-menu {
	display: none;
	position: fixed;
	bottom: 28px;
	left: 2px;
	z-index: 1090;
}

#start-menu.active {
	display: initial;
}

#start-menu-wrapper {
	display: flex;
	width: 281px;
}

#start-menu-wrapper > * {
	display: inline-block;
}

#sysui-os-identifier {
	width: 35px;
	vertical-align: bottom;
	background: $os-identifier-gradient-start;
	background: -moz-linear-gradient(top, $os-identifier-gradient-start 0%, $os-identifier-gradient-end 100%);
	background: -webkit-linear-gradient(top, $os-identifier-gradient-start 0%,$os-identifier-gradient-end 100%);
	background: linear-gradient(to bottom, $os-identifier-gradient-start 0%,$os-identifier-gradient-end 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$os-identifier-gradient-start, endColorstr=$os-identifier-gradient-end,GradientType=0 );
	overflow: hidden;
}

#sysui-os-identifier-rotated-content-outer {
	width: 35px;
	overflow: hidden;
}

#sysui-os-identifier-rotated-content-inner {
	position: relative;
	display: block;
	font-size: 30px;
	line-height: 35px;
	white-space: nowrap;
	color: $os-identifier-text-color;
	font-weight: 900;
	letter-spacing: -1px;
	padding: 0 2px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform-origin: top left;
}